<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gigi Hadid Carrd</title>
  <link rel="stylesheet" href="/static/styles/estilo.css">
</head>
<body>
    <div class="coracao">
        <img src="/static/assets/corações.png" alt="Coração">
    </div>
    <div class="coracao2">
        <img src="/static/assets/corações.png" alt="Coração">
    </div>
    <div class="coracao3">
        <img src="/static/assets/corações.png" alt="Coração">
    </div>
  <div class="card">
    <div class="image-section">
      <img src="/static/assets/foto_gigi.png" alt="Gigi Hadid" class="profile-pic">
    </div>
    <div class="bio-box">
      <p><span class="highlight">Abril, ela/dela, 30 anos,</span> American fashion modelo e TV personality</p>
      <div class="icons">
        <i class="fas fa-camera"></i>
      </div>
    </div>
    <div class="social-audio">
      <a href="https://www.instagram.com/gigihadid/" target="_blank" class="insta-button">
        <img src="/static/assets/logo_insta.png" alt="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
      <div class="audio-box">
        <audio id="audio-player" controls>
          <source src="/static/assets/Taylor Swift - Down Bad (Official Lyric Video).mp3" type="audio/mpeg">
          Seu navegador não suporta áudio HTML.
        </audio>
      </div>
    </div>
    <div class="name-title">
      <h1>GIGI HADID</h1>
      <div class="stars-line">★★★</div>
    </div>
    <div class="text-boxes">
      <div class="box">
        Gosto de cozinhar, especialmente hambúrgueres, e praticar esporte, incluindo boxe. Também aprecio ver filmes, tenho uma rotina de beleza simples.
      </div>
      <div class="box">
        Estrelei campanhas de grandes grifes internacionais e desfilei em importantes eventos de moda, como o Victoria's Secret Fashion Show.
      </div>
    </div>
    <div class="cooking-img">
      <img src="/static/assets/ursinhos.png" alt="Cozinhando">
    </div>
  </div>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</body>
</html>
